<h2>About Me</h2>

<p>
  I'm a software engineer working primarily with Ruby and JavaScript. I have professional experience in start-ups and
  non-profits, where I develop and advocate for accessible, ethical, and pleasant software for the users and developers
  alike.
</p>

<p>
  Outside of software, I'm in a loving partnership with my best friend, Sean, and our two non-human kids, Ziggy and
  Hazel.
</p>

<h3>Resume</h3>
Looking for my resume or more info on my professional experience? Check out my
<%= link_to 'https://www.linkedin.com/in/myka-micah/' do %><%= external_link_image_tag %> LinkedIn! <% end %>
